/* src/app/styles/globals.css */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
