@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700;800&display=swap');


html, body {
  margin: 0;
  padding: 0;
  text-align: center;
}

*{
  font-family: 'Readex Pro', sans-serif;
}

.primary_button {
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  background: linear-gradient(45deg, #fe3072, #ff5940);
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
}

.primary-button:hover {
  background: linear-gradient(260deg, #fe3072, #ff5940);
}

body {
  text-align: center;
}

/*-------- Navbar --------*/

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav .nav-button {
  color: rgb(254, 48, 114);
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 10px;
}

nav .nav-button:disabled  {
  background-color: rgb(181, 180, 180);
  color: rgb(189, 42, 90);
}

nav .logo{
  width: 125px;
  margin: 15px;
  
}

nav .logo-container .logo {
  width: 100%;
}


/*-------- Home page --------*/
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.65) 0%,
          rgba(0, 0, 0, 0) 100%
  )
}

.home {
  margin-top: 30vh;
}
